
    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
    }

    .container {
        border: 1px solid rgb(0, 17, 114);
        border-radius: 20px;
        width: 600px;
        height: 300px;
        background-color: rgb(72, 212, 212);
        box-shadow: 0px 10px 75px -5px, rgba(189, 207, 21, 0.04) 0px 10px 25px -5px;
    }

    .container h1 {
        margin-top: 20px;
        font-size: 5rem;
        color: white;
    }

    .btn {
        margin-top: 60px;
        width: 280px;
        height: 60px;
        
        border-radius: 20px;
        padding: 10px;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        box-shadow: 0px 10px 15px -5px, rgba(14, 175, 167, 0.04) 0px 10px 15px -5px;
    }
    .btn a{
        text-decoration: none;
        font-size: 25px;
        color: black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
